*{
    font-family: Helvetica;
}

// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

.navFijo{
    background-color: #3C6E71;
    width: 100%;
    height: 20%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.navLogo{
    width: 40%;
    height: 100%;
}



#navToolbar{
    height: 100%;
    width: 65%;
}

.navbar{
    position: relative;
}

.maxWidthMaxHeight{
    width: 100%;
    height: 100%;
}

// .formInput{
//     margin-bottom: 5%;
// }

.loginButton{
    -webkit-border-radius: 32px;
    -moz-border-radius: 32px;
    border-radius: 32px;
    color: #FFFFFF;
    font-family: Helvetica;
    font-size: 2.3vh;
    padding: 1vh;
    background-color: #284B63;
    border: solid #969797 3px;
    text-decoration: none;
    width: 20vh;
}



.mainHome{
    background-color: #3C6E71;
    width: 100%;
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
}

// .contenedorLogin{
//     width: 100%;
//     height: 100%;
//     display: flex;
//     justify-content: center;
//     align-items: center;
// }

// .maxWidth{
//     width: 100%;
// }

.centrar{
    display: flex;
    justify-content: center;
    align-items: center;
}

// .card-header{
//     width: 100%;
// }

// .formulario{
//     width: 100%;
//     height: 100%;
//     display: flex;
//     justify-content: center;
//     align-items: center;
// }

// .divRegistro{
//     display: flex;
//     width: 100%;
//     height: 10%;

// }

// .noDotList{
//     list-style-type: none;
// }

// #welcomeMessage{
//     width: 50%;
//     height: 100%;
// }

// #formulario{
//     width: 50%;
//     height: 100%;
// }


.loginContainer{
    background-color: #3C6E71;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.formContainer{
    border: solid #FFFFFF 0.3vh;
    background-color: #D9D9D9;
    height: 60%;
    width: 30%;
}

.messageContainer{
    height: 100%;
    width: 35%;
}

#welcomeMessage{
    font-size: 9vh;
    font-family: oblique;
    color: #353535;
}

.loginTitleLetter{
    font-size: 4vh;
    margin-bottom: 2%;
    margin-top: 1%;
    height: 17%;
}

.formInput{
    margin-bottom: 4%;
    width: 70%;
    margin-left: 15%;
}

.card-body{
    width: 100%;
    height: 80%;
}

#multiLanguage{
    width: 98%;
    height: 30%;
    margin-right: 2%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.maxHeight{
    height: 100%;
}

.navDiv{
    height: 70%;
    margin-right: 2%;
    margin-bottom: 1%;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.navLogo{
    margin-left: 2%;
    width: 20%;
    height: 70%;
}

.navElement{
    height: 100%;
    width: 20%;
    margin: 0%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    flex-direction: column;
}

.emojiNav{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 80%;
}

.nombreNav{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 20%;
}

.imagenNav{
    width: 40%;
    height: 100%;
}

.linkNav{
    color: #353535;
    font-family: helvetica;
}

.linkNav:hover{
    color: #284B63;
}

.imgShow{
    width: 30%;
    height: 30%;
}

.container{
    background-color: #3C6E71;
    width: 100%;
    height: 100%;
    margin-left: 10%;
    margin-right: 10%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.divPlace{
    border: solid #353535;
    background-color: #284B63;
    width: 100%;
    height: 40%;
    margin-bottom: 2%;
    display: flex;
}
#addPlace{
    width: 80%;
    margin-top: 1%;
    height: 5%;
    margin-bottom: 1%;
}
.addButton{
    -webkit-border-radius: 32px;
    -moz-border-radius: 32px;
    border-radius: 32px;
    color: #353535;
    font-family: Helvetica;
    font-size: 2.3vh;
    padding: 1vh;
    background-color: #D9D9D9;
    border: solid #969797 0.3vh;
    text-decoration: none;
    width: 20vh;
}

.addButton:hover{
    background-color: #284B63;
    color: #FFFFFF;
}

.imgFav{
    width: 100%;
    height: 100%;
}

.standardButton{
    width: 20%;
    border: 0 transparent;
    background-color: transparent;
}

.aPlace{
    width: 100%;
    height: 100%;
    text-decoration: none;
    color: #D9D9D9;
    display: flex;
}
.aPlace:hover{
    color: #D9D9D9;
}

#aLogo{
    display: flex;
    justify-content: flex-start;
}

.userInfo{
    height: 100%;
    width: 30%;
}

.placeInfo{
    height: 100%;
    width: 68%;
    margin-right: 2%;
}

.placePhoto{
    height: 100%;
    width: 30%;
}

.imgIndex{
    width: 20%;
    height: 50%;
}

.userName{
    margin-top: 2%;
    width: 100%;
    height: 20%;
}

.userFoto{
    width: 100%;
    height: 50%;
}

.favButton{
    width: 100%;
    height: 30%;
}

.imgPlace{
    width: 100%;
    height: 100%;
}

.place{
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: space-between;
}

.placeName{
    margin-top: 2%;
    height: 10%;
}

.placeDescr{
    border: 0.3vh solid #353535;
    background-color: #D9D9D9;
    height: 50%;
    color: #353535;

}