// Body
$body-bg: #e6e5db;

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

$primary: #694abb;

// main general .

// Background dashboard:

// background apartats pagina: 
.container{
    background-color: #e6e5db;
}
// Formulari Login :
.card-header {
    text-align: center;
}
.card-header p {
    color: rgb(255, 255, 255);
    font-weight: bold;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 18px;
}
.containerLogin{
    height: 100%;
    width: 100%;
    background-image: url("../../public/images/City.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
.loginContainer{
    height: 100%;
    width: 90%;
}
.divLogin{
    align-content: center;
    margin-left: 20%;
    margin-right:20% ;
    height: 100%;
    margin-top: 7rem;
}
.rowLogin{
    height: 50%;
    display: flex;
    flex-wrap: wrap;
}
.login{
    background-color: hsla(55, 18%, 88%, 0.678) ;
    width: 70%;
    margin-left: 20%;
    margin-right: 20%;
    padding: 2%;
}
#form{
    align-content: center;
}
.loginHeader{
    text-align: center;
    padding-bottom: 10%;
    font-family: Arial, Helvetica, sans-serif;
    font-weight:bold;
    font-size:50px;
}
.divInput{
    width: 100%;
    align-content: center;
    margin-top: 1vh;
}
.emailPasswd{
    text-align: center;
    background-color: #e6e5db00;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 2px solid #6f6f71;
    border-radius: 0%;
    width: 40%;
    margin-left: 30%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.emailPasswd:focus{
    border-bottom: 2px solid #6f6f71;
    outline: none;
    background-color: #6f6f7100;
}
#btnLoginDiv{
    margin-top: 10vh;
}
// Register :
.fontRegister{
    font-size: 1.2em;
}
.col{
    width: 100%;
    height: 70%;
}
.marginRegister{
    margin-left: 43%;

}
// Layout principal (APP y nav) :

.navbar-brand{
    font-family:Arial, Helvetica, sans-serif ;
    width: 15%;
}
.logo{
    margin-left: 0%;
    width: 7vh;
    height: 7vh;
}
.backgroundNav{
    background-color: #694abb;
}
.navLink{
    color: #e6e5db;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight:bold;
    font-size: 1.4vh;
    text-decoration: none;
    margin:auto;

}
.navLink:hover{
    color: #e6e5db;
}
.ms-auto .navLink{
    position: relative;
    display: block;
    padding: 5px;
}
.ms-auto .navLink::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background: linear-gradient(to right, #ffffff, #ffffff, #ffffff);
    z-index: 1;
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 0.4s ease-in-out;
  }
  .ms-auto .navLink:hover::before {
    transform: scaleX(1);
  }
.ms-auto[data-animation=center] .navLink::before {
    transform-origin: center;
}
.containerNav{
    width: 100%;
    display: flex;
    flex-wrap: inherit;
    align-items: center;
    justify-content: space-between;
}
.ms-auto{
    margin-right: 10%;
}
#navbarDropdown{
    color: #e6e5db;
    font-weight: bold;
    font-size: 17px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
#burguer{
    height: 3vh;
}

.css-menu{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight:bold ;
}
.dropdown-item:hover{
    background-color: #684abb61;
    color: white;
    font-weight: bold;
}
#navbarDropdown{
    margin-left: 2vh;
}
// Botons Place File Post:
#botoneraContainer{
    width: 65%;
}
.botonera{
    list-style-type:none;
}
.botons{
    float: left;
    text-decoration: none;
    list-style-type:none;
    padding-left: 10%;
    
}
// Language switcher:

// Place and Post View: 
.card{
    margin-top: 2vh;
    margin-bottom: 2vh;
    width: 55%;
    float: left;
    height: 50% !important;
    margin-right: 5%;
    background-color:#694abb !important;
    
}
.cardDescription{
    display: flex;
    flex-wrap: inherit;
    background-color: #e6e5db;
    height: 50% ;
    width: 40%;
    position: relative;
    float: left;
    margin-top: 2vh;
    margin-bottom: 2vh;
}
.addPlace{
    margin-top: 2%;
    margin-left: 2%;
}

.addPost{
    margin-top: 2%;
    margin-left: 2%;
}

.noborder{
    border-bottom: 0px;
}

#placeShow{
    text-decoration: none;
}

.container2{
    height: 100%;
}
#postIMG{
    width: 50%;
}
#placeIMG{
    width: 100%;
    height: 50%;
}
#descriptionHeader{
    background-color: #694abb;
    color: #ffffff;
    font-weight: bold;
}

.blanco{
    color: white;
}

.Centrar{
    align-items: center;
    text-align: center;
}
.body-card{
    align-items: center;
    padding-left: 2%;
    padding-right: 2%;
    height: 100%;
}
.trCreated{
    background-color: #e6e5db;
    text-align: center;
}
#tbodyIndex{
    align-content: center;
}
// formularis Place :
.cardForms{
    background-color: #694abb;
    margin-top: 2%;
    padding: 5%;
    color: #e6e5db;
}
.table{
    background-color: #e6e5db;
}
.cor{
    width: 60%;
}
.btn-focus{
    background-color: #e6e5db !important;
}
// Background,Footer dashboard:
#mapa{
    width: 100%;
    height: 90%;
}